{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}


{% block body %}
    <div class="feed-container">
        <div class="userInfo">
            <div class="profile-banner">
                <img src="{{ user.header }}" alt="photo de bannière" class="header">
            </div>

            <div class="profile-header">
                <div class="profile-picture-wrapper">
                    <img src="{{ user.avatarPath }}" alt="{{ user.username }}" class="profile-picture">
                </div>

                <div class="edit-profile">
                    <button class="edit-btn">Éditer le profil</button>
                </div>
            </div>

            <div class="profile">
                <h3>{{ user.profilName }}</h3>
                <h4>@{{ user.username }}</h4>
                <p>{{ user.bio }}</p>
            </div>

            <div class="profile-nav">
                <button id="postsBtn" class="active">Posts</button>
                <button id="favorisBtn">Favoris</button>
            </div>
        </div>

        <div id="postsContent" class="card-container">
            {% for post in posts %}
                {% include 'partials/post.html.twig' %}
            {% endfor %}
        </div>

        <div id="favorisContent" class="card-container" style="display: none">
            {% for like in likes %}
                {% include 'partials/likedpost.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
