{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="feed-container">
        <div class="card post">
            {{ form_start(form) }}
            <div class="post-header">
                <a href="{{ path('app_profile', {'username': user.username}) }}">
                    <img src="{{ app.user.avatarPath }}"
                         class="user-pp">
                    <p>@{{ app.user.username }}</p>
                </a>
            </div>

            <div class="post-contenu">
                {{ form_widget(form.contenu) }}
            </div>

            <div class="post-footer">
                {{ form_widget(form.image) }}
                {{ form_widget(form.submit) }}
            </div>

            {{ form_end(form) }}
        </div>


        <div id="postsContent" class="card-container">
            {% for post in posts %}
                <div class="card">
                    <div class="post-header">
                        <a href="{{ path('app_profile', {'username': post.user.username}) }}">
                            <img src="{{ post.user.avatarPath }}"
                                 class="user-pp">
                            <p>@{{ post.user.username }}</p>
                        </a>
                    </div>
                    <div class="post-contenu">
                        <a href="{{ path('app_post', {'username': post.user.username, 'id': post.id}) }}">
                            <p>{{ post.contenu }}</p>
                            {% if post.image %}
                                <img src="{{ post.image }}" class="post-img">
                            {% endif %}
                        </a>
                    </div>
                    <div class="post-footer">
                        <p>Créé le : {{ post.createdAt|date('d/m/Y à H:i') }}</p>
                        <div class="postbtn">
                            <div class="post-icon">
                                <span>{{ post.comments|length }}</span>
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 512 512" fill="#A2AA7D"
                                     width="20" height="20">
                                    <path
                                        d="M512 240c0 114.9-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6C73.6 471.1 44.7 480 16 480c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4c0 0 0 0 0 0s0 0 0 0s0 0 0 0c0 0 0 0 0 0l.3-.3c.3-.3 .7-.7 1.3-1.4c1.1-1.2 2.8-3.1 4.9-5.7c4.1-5 9.6-12.4 15.2-21.6c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208z"/>
                                </svg>
                            </div>
                            <div class="post-icon" style="margin-left: 15px;">
                                <span>{{ post.postLikes|length }}</span>
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 512 512" fill="#A2AA7D"
                                     class="likebtn" width="20" height="20">
                                    <path
                                        d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Aucun post à afficher pour le moment.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

