{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}


{% block body %}
    <div class="feed-container">
        <div class="userInfo">
            <div class="profile-banner">
                <img src="{{ user.header }}" alt="photo de bannière" class="header">
            </div>

            <div class="profile-header">
                <div class="profile-picture-wrapper">
                    <img src="{{ user.avatarPath }}" alt="{{ user.username }}" class="profile-picture">
                </div>

                <div class="edit-profile">
                    <button class="edit-btn">Éditer le profil</button>
                </div>
            </div>

            <div class="profile">
                <h3>{{ user.profilName }}</h3>
                <h4>@{{ user.username }}</h4>
                <p>{{ user.bio }}</p>
            </div>

            <div class="profile-nav">
                <button id="postsBtn" class="active">Posts</button>
                <button id="favorisBtn">Favoris</button>
            </div>
        </div>

        <div id="postsContent" class="card-container">
            {% for post in posts %}
                <div class="card">
                    <div class="post-header">
                        <img src="{{ post.user.avatarPath }}"
                             class="user-pp">
                        <p>@{{ post.user.username }}</p>
                    </div>

                    <div class="post-contenu">
                        <p>{{ post.contenu }}</p>
                        <img src="{{ post.image }}" class="post-img">
                    </div>

                    <div class="post-footer">
                        <p>Crée le : {{ post.createdAt|date('d/m/Y à H:i') }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id="favorisContent" class="card-container" style="display: none">
            {% for like in likes %}
                <div class="card">
                    <div class="post-header">
                        <a href="{{ path('app_users', {'username': like.post.user.username}) }}">
                            <img src="{{ like.post.user.avatarPath }}"
                                 class="user-pp">
                            <p>@{{ like.post.user.username }}</p>
                        </a>
                    </div>

                    <div class="post-contenu">
                        <p>{{ like.post.contenu }}</p>
                        <img src="{{ like.post.image }}" class="post-img">
                    </div>

                    <div class="post-footer">
                        <p>Crée le: {{ like.post.createdAt|date('d/m/Y à H:i') }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
